body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
}

main {
  margin: 0 20px;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover {
  color: gray;
}

.navbar-text-margin {
  margin-left: 10px;
  margin-right: 10px;
}

.member-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.member-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.member-img {
  border-radius: 20px;
  object-fit: cover;
  margin-bottom: 20px;
}

footer {
  background-color: #343a40;
  color: white;
  padding: 20px 0;
  text-align: center;
}
